.cursor-pointer {
  cursor: pointer;
}

.link-transparent {
  opacity: 0.7;
  cursor: pointer;
}

.link-transparent:hover {
  opacity: 1;
}

.dark-mode .list-group .list-group-item.active {
  background-color: #3f6791;
}

.dark-mode a.list-group-item-action:not(.active) {
  color: #bebebe;
}

.dark-mode a.list-group-item-action:not(.active):hover {
  background-color: #333333;
}

.dark-mode a.list-group-item-action.active {
  color: white;
}

.dark-mode .breadcrumb-item:not(.active) > a {
  color: #66a8ee;
}

.dark-mode .breadcrumb-item:not(.active) > a:hover {
  color: #9dccff;
}

.dark-mode .content-box .container {
  color: #fff;
}

.dark-mode .border-left {
  border-left: 1px solid #5a5a5a !important;
}

.dark-mode .border-right {
  border-right: 1px solid #5a5a5a !important;
}

.dark-mode .border-top {
  border-top: 1px solid #5a5a5a !important;
}

.dark-mode .border-bottom {
  border-bottom: 1px solid #5a5a5a !important;
}

.dark-mode table.table-bordered td {
  border-color: #535353;
}

.dark-mode .form-control:disabled,
.dark-mode .form-control[readonly] {
  background-color: #424a53 !important;
  color: #cccccc !important;
  opacity: 1;
}

.dark-mode .input-group-prepend > .input-group-text,
.dark-mode .input-group-append > .input-group-text {
  background-color: #4e5863;
  color: #e0e0e0;
}

.dark-mode .login-card-body .input-group-prepend > .input-group-text,
.dark-mode .login-card-body .input-group-append > .input-group-text {
  background-color: #343a40;
  color: #b0b0b0;
}

.mw-1 {
  max-width: 100px;
}

.mw-2 {
  max-width: 200px;
}

.mw-3 {
  max-width: 300px;
}

.mw-4 {
  max-width: 400px;
}

.mw-5 {
  max-width: 500px;
}

.mw-6 {
  max-width: 600px;
}

.mw-7 {
  max-width: 700px;
}

.mw-8 {
  max-width: 800px;
}

.mw-9 {
  max-width: 900px;
}

.border-fade {
  border: solid 1px;
  border-color: #dddddd;
  border-radius: 10px;
}

.dark-mode .border-fade {
  border-color: #4c545c;
}

.text-fade {
  color: #cdcdcd;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

table td.fit,
table th.fit {
  white-space: nowrap;
  width: 1%;
}

.hide-content {
  display: none;
}

.select2-selection__rendered {
  line-height: 28px !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}

.select2-selection__arrow {
  height: 38px !important;
}

.skeleton-load {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 3px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.skeleton-load-info {
  background: #9df2ff;
  background: linear-gradient(110deg, #b9f6ff 8%, #cff9ff 18%, #b9f6ff 33%);
  border-radius: 3px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
